.title {
  font-family: Poppins;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.shopping_cart {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  font-family: "poppins";
}

/* CART ITEM */

.cart_item {
  padding: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_item_info {
  padding: 20px;
  display: flex;
  align-items: center;
}

.cart_image_div {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.cart_image {
  width: auto;
  max-width: 100px;
  height: 90%;
}

.total_div {
  padding: 50px;
  text-align: center;
  float: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.total_div > div {
  display: flex;
  justify-content: space-between;
}

.goback {
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.continueshopping {
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.remove_item {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-left: -30px;
  position: absolute;
  top: -60px;
}

/* CHECKOUT */

.checkout_div {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout_button {
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-size: larger;
  border: 1px solid black;
}

.checkout_button:hover {
  background-color: #e8faea;
  color: black;
  border: 1px solid black;
}

.checkout_button:active {
  background-color: #e8faea;
  color: black;
  border: 1px solid black;
}

.checkout_title {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
}

/* THANKS VIEW */

.thanks_div {
  text-align: center;
  padding-top: 250px;
}
.thanks_div > p {
  margin-top: 20px;
  font-size: large;
}

@media (max-width: 768px) {
  .cart_image {
    display: none;
  }

  .cart_image_div {
    display: none;
  }

    .thanks_div {
      text-align: center;
      padding-top: 250px;
      margin-left: 50px;
      margin-right: 50px;
    }
  
    .thanks_div>p {
      margin-top: 20px;
      font-size: large;
      max-width: screen;
      margin-left: 30px;
      margin-right: 30px;
    }

     .shopping_cart {
          max-width: 400px;
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          margin-right: 20px;
          font-family: "poppins";
        }

                .remove_item {
                  color: black;
                  text-decoration: none;
                  cursor: pointer;
                  margin-left: -20px;
                  position: absolute;
                  top: -50px;
                }

}