.title {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.shopping_cart {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.item_list {
}

.cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_item_info {
  display: flex;
  align-items: center;
}

.cart_image_div {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
}

.cart_image {
  width: auto;
  max-width: 100px;
  height: 90%;
}
.counter_div {
  position: absolute;
  margin-left: 350px;
}

.total_div {
  text-align: right;
}

.remove_item {
  color: red;
  font-size: small;
  cursor: pointer;
  margin-left: 5px;
}
