/* .global {
  box-sizing: border-box;
  background: rgb(0, 100, 0, 0.1);
} */

@media screen and (min-width: 550px) {
  .product_button {
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
}

@media screen and (max-width: 550px) {
  .product_button {
    font-size: 20px;
  }
}

.navbar {
  background-color: white;
}

.brandText {
  font-size: 40px;
}

@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}

.toggle {
  border-color: white;
  border-color: none;
  border-radius: 0;
  height: 1px;
}

.card_body {
  height: 350px;
  transition: transform 0.3s ease-in-out;
}

.card_body:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.toggle-icon-bar {
  background-color: white;
  border-color: none;
}

.toggle.collapsed .toggle-icon-bar:last-child {
  height: 2px;
  margin-top: -1px;
}

.nav {
  margin-left: auto;
}

.navLink {
  font-family: "poppins";
  font-size: 20px;
  color: #000;
  margin-left: 15px;
  text-decoration: none;
}

.cartIcon {
  vertical-align: middle;
  display: none;
}

@media (max-width: 768px) {
  .cartIcon {
    visibility: visible;
  }
}

.product_button {
  font-family: "poppins";
  /* font-size: 14px; */
  padding-left: 3px;
  padding-right: 3px;
  padding-top: none;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border-color: none;
  color: black;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: background-color 0.3s ease; */
}

.product_button:hover {
  background-color: black;
  color: white;
}

.card_body {
  background-color: white;
  display: flex;
  align-items: center;
}

.counter_output {
  background-color: white;
  border-color: none;
}

.rectangle10 {
  position: absolute;
  left: 0;
  top: 1052px;
  width: 1512px;
  height: 488px;
  background-color: #f1f1f1;
}

.rectangle12 {
  position: absolute;
  left: 906px;
  top: 1244px;
  width: 320px;
  height: 61px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}

.rectangle13 {
  position: absolute;
  left: 1234px;
  top: 1244px;
  width: 171px;
  height: 61px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #d2edcd;
}

.about {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 80px;
  top: 1205px;
  width: 328px;
  height: 51px;
  flex-direction: column;
}

.followUs {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 476px;
  top: 1205px;
  width: 328px;
  height: 51px;
  flex-direction: column;
}

.careers {
  color: #000;
  font-size: 25px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 80px;
  top: 1241px;
  width: 328px;
  height: 51px;
  flex-direction: column;
}

.costumerCare {
  color: #000;
  font-size: 25px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 80px;
  top: 1277px;
  width: 328px;
  height: 51px;
  flex-direction: column;
}

.JacopoLombardo2023 {
  position: absolute;
  left: 610px;
  top: 1439px;
  width: 328px;
  height: 88px;
  flex-direction: column;
}

.textBlock3 {
  color: #000;
  font-size: 25px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 25px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.signUpForDiscountsAndNewProduc {
  color: #000;
  font-size: 24px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 906px;
  top: 1205px;
  width: 499px;
  height: 51px;
  flex-direction: column;
}

.yourEMail {
  color: #939393;
  font-size: 21px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 925px;
  top: 1261px;
  width: 143px;
  height: 27px;
  flex-direction: column;
}

.subscribe {
  color: #000;
  font-size: 23px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1264px;
  top: 1258px;
  width: 128px;
  height: 28px;
  flex-direction: column;
}

.saporito2 {
  color: #000;
  font-size: 50px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 80px;
  top: 1102px;
  width: 396px;
  height: 101px;
  flex-direction: column;
}

.ellipse13 {
  position: absolute;
  left: 476px;
  top: 1260px;
  width: 47px;
  height: 45px;
  overflow: visible;
}

.icon8 {
  width: 100%;
  height: 100%;
}

.ellipse14 {
  position: absolute;
  left: 547px;
  top: 1260px;
  width: 47px;
  height: 45px;
  overflow: visible;
}

.icon9 {
  width: 100%;
  height: 100%;
}

.ellipse15 {
  position: absolute;
  left: 618px;
  top: 1260px;
  width: 47px;
  height: 45px;
  overflow: visible;
}

.icon10 {
  width: 100%;
  height: 100%;
}

.vector5 {
  position: absolute;
  left: 80px;
  top: 1397px;
  width: 1325px;
  max-width: 100%;
  height: 1.5px;
  max-height: 100%;
  overflow: visible;
}

.icon11 {
  width: 100%;
  height: 100%;
}

.rectangle16 {
  position: absolute;
  left: 910px;
  top: 806px;
  width: 27px;
  height: 26px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 10px;
  background-color: #000;
}

.rectangle17 {
  position: absolute;
  left: 849px;
  top: 806px;
  width: 27px;
  height: 26px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 10px;
}

.unnamed {
  color: #000;
  font-size: 20px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 887px;
  top: 805px;
  width: 20px;
  height: 28px;
  flex-direction: column;
}

.unnamed2 {
  color: #000;
  font-size: 20px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 857px;
  top: 805px;
  width: 10px;
  height: 19px;
  flex-direction: column;
}

.unnamed3 {
  color: #fff;
  font-size: 20px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 917px;
  top: 805px;
  width: 20px;
  height: 28px;
  flex-direction: column;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
