.counter {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}

.counter_output {
  font-size: 30px;
  color: darkblue;
}

.cart_icon {
  background-color: white;
  cursor: pointer;
}
