a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #f54748;
    text-decoration: underline;
}

.social-link {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
    /* Adjust spacing between links */
}

.social-icon {
    width: 25px;
    height: 25px;
    margin-right: 0.25rem;
    /* Adjust spacing between icon and text */
}

.bold-text {
    font-weight: bold;
}