body {
  background-color: #fefdf4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "poppins";
}

@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}

@media (max-width: 768px) {
  #content {
    margin-bottom: 353px;
  }
}

#content {
  padding-bottom: 353px;
}
