body {
  background: rgb(255, 255, 251);
  background: radial-gradient(circle, rgb(252, 252, 240) 0%, rgba(235, 244, 255, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "poppins";
}

@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}

@media (max-width: 768px) {
  #content {
    margin-bottom: 353px;
  }
}

#content {
  padding-bottom: 353px;
}
