.title {
  font-size: 60px;
  text-align: center;
  font-family: "poppins";
  margin-left: 100px;
  margin-right: 50px;
  max-width: 1200px;
  text-align: left;
}

@font-face {
  font-family: "poppins";
  src: local("poppins"), url("Poppins-Regular.ttf");
}

.navbar-divider {
  width: 20px;
  display: inline-block;
}

.navbar-divider::after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 1px;
  background-color: #000000;
  margin: 0 6px;
}

.nav-link:hover {
  transform: scale(1.1);
  color: red;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 425px;
  height: 425px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px;
  animation: slideIn 1.8s;
}

.cardBig {
  width: 425px;
  height: 425px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(90%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}