/* Shared Styles */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Default Styles */
.title {
  font-size: 60px;
  text-align: left;
  margin-right: 50px;
  max-width: 1200px;
  margin: auto;
  padding-left: 40px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card {
  width: 355px;
  height: 355px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 60px;
  margin: 15px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideIn 1.8s;
}

.cardLogo {
  max-width: 100%;
  height: auto;
}

.cardBig {
  width: 530px;
  height: 530px;
  align-items: center;
}

/* Discover Styles */
.discover {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.discoverText {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-size: 20px;
}

/* Lorem Ipsum Styles */
.loremIpsum {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins;
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  top: 500px;
  width: 70%;
  max-width: 700px;
  height: 97px;
  opacity: 0;
  animation: slideUp 1s ease-out 2s forwards;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .titleContainer {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    height: auto;
  }

  .cardBig {
    width: 90%;
    padding-bottom: 20px;
  }


  .loremIpsum {
    font-size: 20px;
    top: 300px;
    width: 90%;
    max-width: 100%;
    animation: none;
  }
}

/* Explore Button Styles */
.exploreButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 0.3px solid black;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.exploreButton:hover {
  background-color: #e8faea;
  border-color: black;
}