@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}

.body {
  font-family: "poppins", sans-serif;
}

.title {
  font-size: 60px;
  text-align: left;
  font-family: "poppins";
  margin-right: 50px;
  max-width: 1200px;
}

.titleContainer {
  display: table-column;
  margin-left: 18px;
  margin-top: 10px;
}

.card {
  width: 300px;
  transition: ease all 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.products_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product_info_colors a:hover {
  background-color: red;
}

/* PRODUCT CARD */

@media screen and (min-width: 550px) {
  .product_card {
    width: calc(25%);
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
  }
  .product_card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
  }
  .product_card:hover .product_img {
    height: 1000px;
    transform: scale(1.1) translateY(-10px);
    transition: transform 0.3s ease-in-out;
  }
  .product_button {
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
}

@media screen and (max-width: 550px) {
  .product_card {
    width: 300px;
  }
  .product_button {
    font-size: 20px;
  }
}

.product_card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* width: calc(25%);
  max-width: 300px; */
  height: 400px;
  border-radius: 5px;
  border-color: #e8faea;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease-in-out; */
}

.product_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: white;
  border: none;
}

.product_img {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 100%;
  border-radius: 0;
  margin-left: 2px;
}

.product_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .counter {
  flex-grow: 1;
} */

.product_button {
  font-family: "poppins";
  /* font-size: 14px; */
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.product_button:hover {
  background-color: #e8faea;
  color: black;
}

.product_header {
  display: flex;
  background-color: white;
}

.product_header a {
  display: inline-block;
  margin-right: 2px;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product_header a img {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.instock {
  font-size: 10px;
}
