.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.product_info_div {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.product_info_counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_info_image {
  width: 30%;
  height: 30%;
  max-width: 500px;
  max-height: 500px;
}

.product_info_content {
  flex: 1;
  text-align: left;
  padding: 0 20px;
}

.product_info_colors {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.product_info_colors a {
  display: inline-block;
  margin-right: 6px;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product_info_colors a:hover {
  background-color: red;
}

.product_info_colors a img {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.product_info_button {
  font-family: "poppins";
  font-size: 14px;
  border: none;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .product_info_div {
    flex-direction: column;
    padding: 30px;
  }

  .product_info_image {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin-left: 0;
  }

  .product_info_content {
    padding: 20px;
  }
}
